h1{
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	color: solid black;
	margin:50px;	 
		}
h3{
	font-family: 'Zen Dots', cursive;
	text-align: right;
	margin:40px;
}
div{
     margin: 50px;
}
h5{
	margin left:50px;
}
